.iframe {
  display: flex;
  width: 100%;
  border: none;
}
.FormWrapper {
  background-color: #fff;
  border: 1px solid var(--ifm-color-emphasis-alpha-30);
  border-radius: 5px;
  padding: 5px;
  margin: 0 0 1em 0;
}
