.toggler.header {
  display: flex;
  justify-content: flex-end;
}

.toggler.header .item {
  margin: 0.5em 0 0.5em 1em;
  cursor: pointer;
}

.toggler.header .item.active {
  color: var(--ifm-menu-color-active);
}

.toggler .tooltip {
  position: relative;
  display: inline-block;
}

.toggler .tooltip .tooltip-text {
  font-size: 0.7em;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.toggler .tooltip .tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.toggler .tooltip:hover .tooltip-text {
  visibility: visible;
}
