{
  "plugins": [
    [
      "transform-es2015-modules-commonjs",
      {
        "noInterop": true
      }
    ],
    "transform-object-assign",
    "transform-react-inline-elements",
    [
      "transform-react-remove-prop-types",
      {
        "mode": "wrap"
      }
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": false
      }
    ]
  ],
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ]
}
