/.idea
/coverage
/lerna-debug.log

/node_modules
/npm-debug.log
/npm-debug.log*
/packages/*/es5
/packages/*/es6
/packages/*/node_modules
/website/.cache-loader
/website/.docusaurus
/website/build
/website/node_modules



/Jenkinsfile
/sonar-project.properties