.idea

/docs/.meteor/local
/docs/node_modules
/docs/packages/documentation/.npm

/.nyc_output
/coverage
/node_modules

npm-debug.log
npm-debug.log*
lerna-debug.log

packages/*/.nyc_output
packages/*/coverage
packages/*/lib
packages/*/node_modules
