/.idea
/coverage
/lerna-debug.log

/**/.parcel-cache
/node_modules
/npm-debug.log
/npm-debug.log*
/packages/*/cjs
/packages/*/esm
/packages/*/node_modules
/reproductions/dist
/reproductions/node_modules
/website/.cache-loader
/website/.docusaurus
/website/build
/website/node_modules
