/coverage
/.idea
/lerna-debug.log
/lerna.json
/node_modules
/npm-debug.log
/npm-debug.log*
/packages/**/*.d.ts
/packages/**/*.js
/packages/*/es6
/packages/*/node_modules
/website/.cache-loader
/website/.docusaurus
/website/build
/website/node_modules

# Broke with Prettier upgrade.
/docs/examples-common-forms.mdx
/docs/examples-custom-fields.mdx
/docs/installation.mdx
