/.idea
/.parcel-cache
/coverage
/lerna-debug.log
/lerna.json
/node_modules
/npm-debug.log
/npm-debug.log*
/packages/*/cjs
/packages/*/esm
/packages/*/node_modules
/reproductions/dist
/reproductions/node_modules
