.stats {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1em;
}

.stats .item {
  display: flex;
  flex: 1;
  padding: 1em;
  flex-direction: column;
  align-items: center;
}

.stats .item .content * {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.stats .item .content svg {
  margin-right: .5em;
}

.stats .item .number {
  font-size: 3em;
}