.tabs {
  display: flex;
  margin: 0 0 0.25em -0.2em;
  font-weight: 700;
  flex-wrap: wrap;
}

.tabs .item {
  text-align: center;
  font-size: 0.8em;
  border: 1px solid var(--ifm-menu-color-active);
  padding: 0.8em;
  margin: 0.25em;
  border-radius: 3px;
  cursor: pointer;
  flex: 1;
}

.tabs .item.active {
  background-color: var(--ifm-menu-color-active);
  color: white;
}
