.tabs {
    display: flex;
    margin: 1em 0 .25em -.2em;
    flex-wrap: wrap;
    font-weight: 700;
}

.tabs .item {
    font-size: .8em;
    border: 1px solid var(--ifm-menu-color-active);
    padding: 1em;
    margin: 0.25em;
    border-radius: 3px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .tabs .item {
        flex: 1 1 0;
    }
}

.tabs .item.active {
    background-color: var(--ifm-menu-color-active);
    color: white
}