pre {
  border-radius: var(--ifm-global-radius) !important;
  overflow: auto !important;
  white-space: pre !important;
}

table {
  display: inline-table;
}

.markdown img {
  background: #fff;
  border-radius: var(--ifm-global-radius);
  padding: var(--ifm-pre-padding);
}

.menu > .menu__list > .menu__list-item > .menu__link:hover {
  background: initial;
  cursor: default;
}

@media only screen and (max-width: 600px) {
  table {
    display: block !important;
  }
}

body > div:last-child:not(:first-child) {
  height: 0 !important;
}
