:root {
  --periwinkle: #8759ff;
  --bright-cyan: #3fc4fe;
  --sea-green: #42ffac;
  --white: #fff;
  --black: #000;
  --dark-blue-grey: #211b50;
  --dusk-blue: #412a94;
  --dodger-blue: #3fbbfe;
  --dodger-blue-10: rgba(63, 187, 254, 0.1);
  --pale-grey: #e8e6f5;
  --greenblue: #1fd898;
  --greenblue-10: rgba(31, 216, 152, 0.1);
  --dark-slate-blue: #2d2665;
  --greyish-brown: #474747;

  --periwinkle-50: rgba(136, 89, 255, 0.2);
  --bright-cyan-50: rgba(63, 196, 254, 0.2);
  --sea-green-50: rgba(66, 255, 172, 0.2);

  --uni-hero-bgcolor: var(--dark-blue-grey);
  --uni-heading-color: var(--dusk-blue);
  --uni-heading-helper-color: var(--dusk-blue);
  --uni-testimonial-text-color: var(--greyish-brown);

  --uni-border-color: var(--dodger-blue);
  --uni-box-shadow-color: var(--dodger-blue-10);
  --uni-background-color: var(--white);
  --uni-oval-shadow-color: var(--pale-grey);
}

:root[data-theme='dark'] {
  --uni-oval-shadow-color: var(--greyish-brown);
  --uni-background-color: var(--ifm-background-color);
  --uni-heading-color: var(--ifm-font-base-color);
  --uni-heading-helper-color: var(--ifm-font-base-color);
  --uni-testimonial-text-color: var(--ifm-font-base-color);
}
