@import 'colors.css';
@import 'fonts.css';

.system-window {
  padding: 0;
  border-radius: 1em;
  contain: content;
  height: 70%;
}

.system-window pre {
  margin: 0;
  background: none !important;
}

.system-top-bar {
  background-image: linear-gradient(
    to right,
    var(--periwinkle-50),
    var(--bright-cyan-50) 90%,
    var(--sea-green-50)
  );
  padding: 0.25em 1em;
}

.system-top-bar-circle {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.3em;
  border-radius: 50%;
  filter: brightness(100%);
}

.landing table thead {
  background-image: linear-gradient(
    to right,
    var(--periwinkle),
    var(--bright-cyan),
    var(--sea-green)
  );
}

.landing table thead tr th {
  width: 15%;
}

.landing table thead tr th a {
  color: inherit;
}

.landing table thead tr th:first-child {
  width: 30%;
}

.landing table tr td {
  background-color: var(--dark-slate-blue);
  color: var(--white);
}

.landing table tr td:first-child,
.landing table tr th:first-child {
  padding-left: 4em;
}

.landing table tr td > * {
  filter: grayscale(100%);
}

.landing tr:nth-child(odd) td {
  background-color: var(--dark-blue-grey);
}

.landing ul {
  padding: 0;
  opacity: 0.7;
  font-family: Muli;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.33;
}

.landing ul li {
  list-style: none;
  position: relative;
  padding-left: 1em;
  margin-bottom: 1em;
}

.landing ul li::before {
  content: '';
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #000;
}

.showcase-card {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.showcase-card img {
  height: 4em;
  margin: 1em;
}

.showcase-card p {
  display: block;
  margin-left: 1em;
}

.footer {
  background-color: var(--dark-blue-grey);
  margin-bottom: 0 !important;
  padding-top: 4em !important;
  padding-bottom: 0 !important;
}

.footer li {
  color: var(--white);
}

.footer-heading {
  font-family: Muli;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dodger-blue);
}

.footer .bullets {
  color: var(--white);
}

.footer .bullets li::before {
  background-color: var(--dodger-blue);
}

.example {
  margin: 16em 0 !important;
}

@media (min-width: 996px) {
  .simple-yet-powerful-text {
    margin-left: -5em;
    margin-top: -8em;
  }

  .fully-customizable-text {
    margin-right: -5em;
    margin-top: -8em;
  }
}

.preview-border {
  box-shadow: 0 6px 58px 0 var(--uni-box-shadow-color);
  border: solid 1px var(--uni-border-color);
}

.preview {
  position: relative;
  background-color: var(--white);
  padding: 4em;
  min-width: 740px;
}

.solid-border-box {
  border: solid 6px var(--uni-border-color);
  padding: 4em;
}

.border-green {
  --uni-border-color: var(--greenblue);
  --uni-box-shadow-color: var(--greenblue-10);
}

.grid3x3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.item3x3 {
  width: 33%;
  padding: 3em 0;
}

.company {
  height: 3em;
  filter: grayscale(100%);
  transition: 0.2s filter;
}

.company:hover {
  filter: none;
}

.border-dashed {
  border: 2px dashed var(--pale-grey);
}

.border-gradient {
  border-style: solid;
  border-width: 6px;
  border-image-source: linear-gradient(
    var(--uni-border-gradient-degrees),
    var(--periwinkle),
    var(--bright-cyan) 51%,
    var(--sea-green)
  );
  border-image-slice: 1;
}

.border-disable-top-right {
  --uni-border-gradient-degrees: 41deg;
  border-top: none;
  border-right: none;
}

.border-disable-bottom-left {
  --uni-border-gradient-degrees: 221deg;
  border-bottom: none;
  border-left: none;
}

.testimonials {
  display: flex;
  text-align: center;
  justify-content: center;
}

.testimonial {
  padding: 4em;
}

.section-heading {
  margin: 1.5em 0;
}

.section-bgwhite {
  background-color: var(--white);
  margin-bottom: -1px;
}

.section-content {
  padding: 0 4em 4em 4em !important;
}

.section-bgwhite.section-content {
  padding-top: 4em !important;
}

.emphasis {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: var(--dodger-blue);
}

.paragraph {
  opacity: 0.8;
  font-family: Muli;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: var(--white);

  margin-bottom: 0.8em;
}

.section-subtitle {
  opacity: 0.6;
  font-family: Muli;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--white);
}

.fluid {
  padding: 8em 0;
}

.whyus {
  background-color: var(--dusk-blue);
  padding-bottom: 0 !important;
}

.whouses {
  background-color: var(--dark-blue-grey);
  padding-bottom: 0 !important;
}

.heading {
  font-family: Poppins;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.31;
  color: var(--uni-heading-color);
  margin-bottom: 2em;
}

.heading-white {
  --uni-heading-color: var(--white);
}

.always-open-source {
  opacity: 0.6;
  font-family: Muli;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--dusk-blue);
}

.oval {
  display: inline-block;
  width: 64px;
  height: 64px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 8px 23px 0 var(--pale-grey);
  background-color: var(--white);
}

.top-right-corner {
  position: absolute;
  right: 0;
  transform: translate(45%, -45%);
}

.badge-number {
  font-size: 3em;
  font-weight: bold;
}

.badge {
  display: flex;
  position: relative;
  height: 170px;
  width: 260px;
  margin: 0 auto;
}

.badge-image {
  position: absolute;
  display: block;
}

.badge-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.call-to-action {
  --ifm-button-background-color: var(--periwinkle) !important;
  --ifm-button-border-color: var(--periwinkle) !important;
  --ifm-color-primary-darker: var(--bright-cyan) !important;
  margin-top: 4em;
  border-radius: 2em;
  min-width: 240px;
}

.theme-icon {
  width: 40px;
  height: 40px;
  margin-right: 50px;
}

.theme-icon:last-child {
  margin-right: 0;
}

.header {
  background-color: var(--uni-hero-bgcolor);
  padding: 4em 0;
}

.section {
  margin-bottom: 8em;
}

.text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.text-big {
  font-size: 1.5em;
  font-weight: bold;
}

.text-huge {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.25;
}

.supported {
  margin-top: 3em;

  opacity: 0.6;
  font-family: Muli;
  font-size: 0.85em;
  font-weight: 600;
  line-height: 2;
  color: var(--white);
}

.title {
  display: block;
  color: var(--white);
}

.description {
  display: block;
  margin: 24px 0;
  color: var(--bright-cyan);
}

@supports (background-clip: text) {
  .description {
    background-image: linear-gradient(
      81deg,
      var(--periwinkle),
      var(--bright-cyan) 50%,
      var(--sea-green)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.bullets {
  color: var(--white);
}

.bullets li {
  margin-bottom: 0;
}

.bullets li::before {
  background-color: var(--periwinkle) !important;
}
