.half {
  flex: 1;
}

.column:first-child {
  margin-right: 1em;
}

.row {
  margin-bottom: 1.5em;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }
}
.card {
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 1em;
}

.textBig {
  font-size: 4.25rem;
}

.textSmall {
  font-size: 1.25rem;
}

table thead tr th:first-child {
  width: 25%;
}

table thead tr th {
  width: 13%;
}
