.Tabs {
    display: flex;
    margin-bottom: 1.5em;
}

.TabsSelect {
    border: 1px solid var(--ifm-menu-color-active);
    padding: 1em;
    margin-right: 0.5em;
    border-radius: 3px;
    cursor: pointer;
}

.TabsSelect.active {
    background-color: var(--ifm-menu-color-active);
}