* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.panelGroup {
    height: 100vh !important;
    width: 100vw !important;
}

.panelGroup .divider,
.panelGroupNavbar {
    background: #121621;
}

.panelHeaderInfo select {
    border: 0;
}

.panelGroupNavbar {
    padding: 0.75em;
}

.panelGroupNavbar,
.panelGroupNavbar * {
    font-size: initial !important;
}

.panelGroup section {
    width: 100%;
}

.panelHeader,
.panelHeaderInfo,
.panelHeaderInfo select {
    color: #ecedee;
}

.panelHeaderInfo select {
    background: transparent;
    font-size: 1rem;
    line-height: 1rem;
}

.panelHeaderInfo select option {
    color: #121621;
}

.panelWrapper > section,
.panelHeaderInfo {
    display: flex;
}

.panelWrapper > section {
    flex-direction: column;
}

.panelWrapper > div,
.panelWrapper > section > div {
    flex: 1;
    overflow-y: auto;
    padding: 0.75rem;
}

.panelLeft textarea {
    font-family: monospace !important;
    min-height: 20em !important;
}
