* {
    box-sizing: border-box;
}

body {
    margin:  0;
    padding: 0;
}

img {
    position: absolute;

    top:    0;
    right:  0;
    border: 0;
}

.panelGroup {
    width:  100vw !important;
    height: 100vh !important;
}

.panelGroup .divider,
.panelGroupNavbar {
    background: #121621;
}

.panelHeaderInfo select {
    border: 0;
}

.panelGroupNavbar {
    padding: 0.75em;
}

.panelGroupNavbar,
.panelGroupNavbar * {
    font-size: initial !important;
}

.panelGroup section {
    width: 100%;
}

.panelHeader,
.panelHeaderInfo,
.panelHeaderInfo select {
    color: #ecedee;
}

.panelHeaderInfo select {
    font-size:   1rem;
    line-height: 1rem;

    background: transparent;
}

.panelHeaderInfo select option {
    color: #121621;
}

.panelWrapper > section,
.panelHeaderInfo {
    display: flex;
}

.panelWrapper > section {
    flex-direction: column;
}

.panelWrapper > div,
.panelWrapper > section > div {
    padding: 0.75rem;
    width: 100%;
    overflow-y: scroll;
}
