.markdown .playground-wrap {
  border-radius: 5px;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form-wrapper {
  border-radius: 5px;
  border: 1px solid var(--ifm-color-emphasis-alpha-30);
}
