name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
jobs:
  CI:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x, 20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3.6.0
        with:
          cache: npm
          node-version: ${{ matrix.node-version }}
      - name: Check dependency duplications
        uses: vazco/open-standards/actions/npm-dependency-duplications/@master
      - name: Check dependency vulnerabilities
        uses: vazco/open-standards/actions/npm-dependency-vulnerabilities/@master
      - name: Install
        run: npm i -g npm@8 --no-audit && npm ci --no-audit
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm run coverage -- --no-cache --runInBand
      - name: Report coverage
        uses: codecov/codecov-action@v3.1.1
        with:
          fail_ci_if_error: true
  Docs:
    runs-on: ubuntu-latest
    needs: CI
    if: success() && github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Use Node.js 20
        uses: actions/setup-node@v3.6.0
        with:
          cache: npm
          node-version: 20
      - name: Install
        run: npm ci --no-audit
      - name: Build docs
        run: npm --prefix website run build
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3.9.2
        with:
          allow_empty_commit: true
          cname: uniforms.tools
          force_orphan: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/build
      - name: Create a concentrated doc file
        run: ./scripts/concatenateDocs.sh . uniformsConcentratedDocs.md
      - name: Upload the concentrated doc file as an artifact
        uses: actions/upload-artifact@v3
        with:
          name: uniformsConcentratedDocs-${{ github.sha }}-${{ github.run_id }}-$(date +'%Y-%m-%d').md
          path: uniformsConcentratedDocs.md
