name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
jobs:
  CI:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4.0.2
        with:
          cache: pnpm
          node-version: ${{ matrix.node-version }}

      - name: Check dependency duplications
        uses: vazco/open-standards/actions/npm-dependency-duplications/@master

      - name: Check dependency vulnerabilities
        uses: vazco/open-standards/actions/npm-dependency-vulnerabilities/@master

      - name: Install
        run: pnpm install

      - name: Check linting
        run: pnpm lint:code

      - name: Check formatting
        run: pnpm lint:text

      - name: Check types
        run: pnpm lint:types

      - name: Test
        run: pnpm coverage -- --no-cache --runInBand

      - name: Report coverage
        uses: codecov/codecov-action@v4.3.0
        with:
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
